<style>
  .disabled {
    color: lightgray;
  }

  /* Animation */
  /*.ng-enter {
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
    opacity: 0;
  }

  .ng-enter-active {
    opacity: 1;
  }*/

  .ng-leave {
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
    opacity: 1;
  }

  .ng-leave-active {
    opacity: 0;
  }

  .ng-hide-add {
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
    opacity: 1;
  }

  .ng-hide-add-active {
    display: block !important;
    opacity: 0;
  }

  /*.selected {
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
    background-color: #FAFAD2 !important;
  }

  .selected-add-class {
    opacity: 0;
  }

  .selected-add-class-active {
    opacity: 1;
  }*/
</style>
<div class="section">

    <div class="container">
      <div class="row">
      <h3 ng-bind="appTitle"></h3>
</div>

<div ng-if="showParkingError === true">
  <alert alerttopic="alertTopic" description="alertMessage" close="closeAlertPE()"></alert>
</div>

    <div class="row">
        <div class="col-lg-2"><h3 ng-bind="parkcar"></h3>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <input type="text" ng-model="car.plate" placeholder="What's the plate?" />
                <select ng-model="car.color" ng-options="color for color in colors"> Pick a color </select>
                <button ng-click="park(car)" ng-disabled="!car.plate || !car.color">Park Car</button>
                <button ng-click="park(car)">Park Car(Alert Test)</button>
            </div>
        </div>

        <div class="col-lg-5" ng-show="cars.length>0">
          <table>
        <thead>
          <tr>
            <th>Plate</th>
            <th>Entrance</th>
            <th>Color</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="car in cars" ng-class="{selected: car.selected}">
            <td><input type="checkbox" ng-model="car.selected"/></td>
            <td><span ng-bind="car.plate" ng-style="{background: car.color}"></span></td>
            <td><span ng-bind="car.entrance"></span></td>
            <td><button ng-click="deletecar($index)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="cars.length<1">The parking lot is empty ..... !</div>

    </div>
    <!-- /.container -->

</div>
<div class="container">
  <div ng-include="home_1.html"></div>
</div>
<div class="container">
  <accordion>
    <accordion-item title="MMM-8790">
      White - 10/10/2002 10:00
    </accordion-item>
    <accordion-item title="ABC-9954">
      Black - 10/10/2002 10:36
    </accordion-item>
    <accordion-item title="XYZ-9768">
      Blue - 10/10/2002 11:10
    </accordion-item>
  </accordion>
</div>
</div>
